html {
    overflow-x: hidden;
    height: 100%;
    background-color: #0095E3;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    background-color: #0095E3;
}
body.modal-open {
    overflow: visible;
    margin-right: -16px;
}




.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#preloader{
  z-index: 99;
    background:#F2F2F2;
  height:100%;
  width:100%;
  position:fixed;
  left:0;
  top:0;
 }







.modal-content{
    background-color: #354355;
}
.modal-header {
    color: white;
   margin: 0 auto;
}
.modal-txt{
    color: white;
}
.close{
    position: fixed;
    right:20px;
}


.btn-default{
    background-color: white;
    color: #354355;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size:2.5em;
    color: white;
  
}
h2{
   font-size:1.8em;
   font-family: 'Montserrat', sans-serif;
   color: #354355;
   font-weight: 600;
    font-style:normal;
}
h3{
   font-size:1em;
   font-family: 'Montserrat', sans-serif;
   color: #354355;
   font-weight: 600;
   font-style:normal;
   font-size: 1.2em;
}
h4{
   
   color: #FFF;
   font-weight: 400;
   font-style:normal;
   font-size: 1.3em;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em; 
  color: white;
}
.padding-0{
    padding-right:0;
    padding-left:0;
    padding-bottom: 0;
}
.nav-link1{
   color: #DFDFDF ;  
    margin: 10px;
    font-family: 'Bangers', cursive;
    font-size:20px;
    font-weight: bold;
}

.fixed-top {
    height: 80px;
    z-index: 50;
    background-color: #FFFFFF;
    margin-top: -80px;

}
#logo{
    background-color: #0095E3; 
}
#logoBgr{   
     background-image: url(../images/background.svg);
     background-size:cover;
     background-repeat: no-repeat;
     background-position: top center;
    background-color: #0095E3;
     top:0;
     width: 100%;
     height: 100%;
     position: fixed;
      -webkit-filter: contrast(150%); 
     z-index:0;
}


#canvas1{   
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    z-index:4;
    left: 50%;
    -webkit-transform: translate(-50%);
    background-color: #0095E3;
}

#clouds {
 background-image: url(../images/clouds.svg);
 background-size:cover;
 background-repeat:repeat-x;
 background-position: top;
 width: 100%;
 min-height: 100px;
 margin-top:-10px;
 text-align: center; 
 position: relative;
 z-index: 1;
 margin-bottom: -2px;
}

.text-container{
 
    margin-top: -40px;
    position: fixed;
    text-align: center;
    overflow-y: hidden;
}
#arrow{
    margin-top: 10vh;
    text-align: center;
}
#video-row{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #FC6C58;
    padding-bottom: 150px;
    z-index: 2;
}
#inlineText{
    max-width: 700px;
    text-align: left;
    
}
    #inlineText h3,
    #inlineText p{
    display: inline;
}
    
#videoTxt{
    padding: 20px;
    background-color: #FC6C58;   
    text-align: center; 
}
    #videoTxt h1,
    #videoTxt h2{
    text-align: left;
    
}

#Mask{
    position: absolute;
    background-image: url(../images/videoMASK.svg);
    background-size:cover;
    background-repeat: no-repeat;   
    background-position:top;   
    width: 101%;
    height: 101%;
    min-width: 350px;
    max-width: 500px;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translate( -50%);
    padding-bottom: 150px;
}
#Video{
    background-image: url(../images/backup.png);
    background-size:cover;
    background-repeat: no-repeat;   
    background-position: center;      
    position: relative;
    min-width: 350px;
    max-width: 500px;
    left: 50%;
    transform: translate( -50%);
}

#backVideo{
    width: 100%;
    height: 100%;
    min-width: 350px;
    max-width: 500px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}



.waves{
    position: relative;
    width:100%;
    height: 100%;
    min-height:200px;
    background-image: url(../images/wave.svg);
    background-size:cover;
    background-repeat: no-repeat;   
    background-position: center;
    margin-top: -170px;
    z-index: 6;
}
.wavesDark{
    position: relative;
    width:100%;
    height: 100px;
    min-height:200px;
    background-image: url(../images/waveDark.svg);
    background-size:cover;
    background-repeat: no-repeat;   
    background-position: center;
    margin-top: -200px;
    z-index: 10;
}

#servicesRow{
    position: relative;
    z-index: 7;
    margin-top: -10px;
    padding-bottom: 100px;
}
.service{
   text-align: center;  
}
.services-text{
    margin-top: 50px;
}
.services-text p{
    max-width: 500px;
    color:#FC6C58; 
    font-size: 0.8em;
    margin: auto;
}

.button-base{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.show {
  display: block !important;
}
.clients-row{
    position: relative;
    background-color: #354355;
    z-index: 11;
}
.clients-div{
    margin: auto;
}
.clients{
   
    max-width: 150px;

}
.gallery-row{
    position: relative;
    background-color: #354355;
    z-index: 12;
    text-align: center;
    margin-top: -5px;
}






@media (min-width: 1240px) {
    .waves{
        min-height:200px;
    }
     body{font-size: 20px;}
    .text-container{
    margin-top: -380px;
    }
    #clouds{
     margin-top: -200px;
    }
}
@media (max-width: 1240px) {
    .services-text p{
    font-size: 1em;
}
    .text-container{
    margin-top: -280px;
    }
    #clouds{
        margin-top: -150px;
    }
}
@media (max-width: 1000px) {
   
    .text-container{
    margin-top: -280px;
    }
    #clouds{
        margin-top: -150px;
    }
}
@media (max-width: 830px) {
    .text-container{
    margin-top: -230px;
    }
     #clouds{
        margin-top: -120px;
    }
}


@media (max-width: 768px) {
    .welcome-text{
        float: none !important;
    }
    #inlineText{
    text-align: center;
    }
    #videoTxt h1,
    #videoTxt h2{
    text-align: center;
    }
}
@media (max-width: 670px) {
     .text-container{
    margin-top: -195px;
    }
    #clouds{
        margin-top: -85px;
    }
}
@media (max-width: 450px) {
    #Mask{
    min-width: 250px;
    }
    #backVideo{
    min-width: 250px;
    } 
    .text-container{
    margin-top: -160px;
    }
    #clouds{
        margin-top: -75px;
    }
}
@media (max-width: 300px) {
    
   .text-container{
    margin-top: -135px;
    }

    #clouds{
        margin-top: -60px;
    }
}
@media (min-width: 600px) and (max-width: 4000px) and (max-height: 700px) {
  .text-container{
    margin-top: -195px;
    }
    #clouds{
        margin-top: -70px;
    }
}





.portfolio-header{
   position: relative;
   top:60px;
   z-index: -1;
   opacity: 0;
}
.portfolio-footer{
   position: relative;
   top:-60px;
   z-index: -1;
   opacity: 0;
}
.portfolio-item{
    top: 0vh;
}
.portfolio-item:hover
{
     transition-duration:0.5s;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}
.portfolio-item:hover .portfolio-header{
      
    position: relative;
    transition: all 0.5s ease 0s;
    top: 0; /* start out at position 0 */
    opacity: 1;
}
.portfolio-item:hover .portfolio-footer{
      
    position: relative;
    transition: all 0.5s ease 0s;
    top: 0; /* start out at position 0 */
    opacity: 1;
}
.portfolio-item:not( :hover ) .portfolio-footer{
      
    position: relative;
    transition: all 0.5s ease 0s;
    top: 60; /* start out at position 0 */
    opacity: 0;
}
.portfolio-item:not( :hover ) .portfolio-header{
      
    position: relative;
    transition: all 0.5s ease 0s;
    top: -60; /* start out at position 0 */
    opacity: 0;
}
.portfolio-item:not( :hover )
{
     transition-duration:0.5s;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
}